body {
    margin:0;
    padding:0;
    background-color:rgb(53, 59, 58);

    position: flex;
    flex-direction: row;
}

canvas {
    display: flex;
    flex-direction: row;
}

.webcamButtonDiv {
    position: absolute;
    transform: translate(70vw, 70vh);
}

#webcam {
    position: absolute;
    transform: translate(55vw, 0);
}
#output_canvas {
    position: absolute;
    transform: translate(55vw, 0);
}
